<h2>Dragon Ball Z</h2>

<!-- Contenedor usado en las lecciones 5, 6, 7 y 8 -->
<div class="row" style="display: none;">
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <!-- 
            <li>Goku - 15,000</li>
            <li>Vegeta - 7,500</li>
            <li>Krillin - 500</li> 
            -->
            <!-- Iteramos el arreglo de personajes definido en el .ts -->
            <li *ngFor="let personaje of personajes">
                {{ personaje.nombre }} - {{ personaje.poder | number}}
            </li>
        </ul>
    </div>
    <div class="col">
        <h3>Agregar</h3>
        <hr>
        <!-- Ejecuta el método agregar() cuando se envia el formulario -->
        <form (ngSubmit)="agregar()">
            <!-- One Way Data Binding 
                 Le dimos valor a las propiedades del objeto nuevo en el .ts
                 y mostramos esos valores en los inputs
            -->
            <!--
            <input type="text" placeholder="Nombre" [value]="nuevo.nombre" />
            <input type="number" placeholder="Poder" [value]="nuevo.poder" />
            <button type="submit">Agregar</button>
            -->

            <!-- Two Way Data Binding 
                 Le dimos valor a las propiedades del objeto nuevo en el .ts
                 y mostramos esos valores en los inputs. Pero también desde los
                 inputs podemos darles nuevos valores (que se muestran en tiempo real)
                 Con el botón agregar imprimimos los valores que tengan las propiedades
            -->
            <input type="text" placeholder="Nombre" 
                   name="nombre" [(ngModel)]="nuevoPersonaje.nombre" /> 
            <input type="number" placeholder="Poder" 
                   name="poder" [(ngModel)]="nuevoPersonaje.poder" />
            <button type="submit">Agregar</button><br>
            {{ nuevoPersonaje.nombre }} - {{ nuevoPersonaje.poder }}
        </form>
    </div>
</div>

<div class="row">hola</div>
<div class="row">como</div>
<div class="row">estas</div>
<!-- Contenedor usado en las lecciones 9, 10, 11, 12, 13 -->
<div class="row">
    
    <div class="col">
        
        <!-- Usamos una instancia del componente PersonajesComponent y a 
            su propiedad @Input le asignamos como valor el arreglo de personajes
            definido en el .ts   
        -->
        <!-- Descomentado -->
        <app-personajes [personajes]= "personajes"></app-personajes>
        
        <!-- Usando Servicios. Lección 15 y 16 -->
        <!-- Comentado para -->
        <!-- <app-personajes></app-personajes> -->
    </div>
    <div class="col">
        <!-- Usamos una instancia del componente AgregarComponent y asignamos
             un método que manejará el evento onNuevoPersonaje (Emitter) del
             componente AgregarComponent.
             $event representa el vlor contenido en el evnto que emite el Emitter,
             en este caso un nuevo personaje
        -->
        <!-- Descomentado para -->
        <app-agregar (onNuevoPersonaje)="agregarPersonaje($event)"></app-agregar>

        <!-- Usando Servicios. Lección 15 y 16 -->
        <!-- Comentado para -->
        <!-- <app-agregar></app-agregar> -->
    </div>
    
</div>