<!-- Si el componente se hizo manualmente no olvidar declararlo en app.module.ts
     Si el componente es creado con el "cli" la declaración se hará automaticamente
     Se pueden colocar muchas etiquetas app-contador. Cada una sería una instancia
     de ContadorComponent por lo que mantendría su propio estado
-->
<app-contador></app-contador>

<hr style="border-color: blue;">

<app-heroe></app-heroe>

<hr style="border-color: blue;">

<app-listado></app-listado>

<hr style="border-color: blue;">

<app-main-page></app-main-page>